* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.center-vh {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100vh;
}

/* Header */
header {
  position: relative;
  width: 100%;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 792px;
  height: 77px;
  margin-top: 35px;
}

nav ul.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
}

.nav__item a {
  transition: .3s;
}

.nav__item a:hover {
  color: #64c29e;
}

.nav__item:nth-child(2) {
  padding: 0 35px 0 35px;
}

.nav__item:nth-child(3) {
  padding-right: 65px;
}

.nav__item:nth-child(5) {
  padding-left: 65px;
}

.nav__item:nth-child(6) {
  padding: 0 35px 0 35px;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../images/hero/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/* About Us */
.about {
  width: 100%;
  height: 470px;
  background-color: #f7f7f7
}

.about [alt='chain icon'] {
  position: relative;
  padding-top: 118px;
  left: 50%;
  transform: translateX(-50%);
}

.about h3 {
  text-align: center;
  padding-top: 35px;
  line-height: 34px;
}

.about p {
  text-align: center;
  color: #848789;
  padding: 35px 150px 0;
  line-height: 34px;
}

/* Work */
.work {
  width: 100%;
}

.work [alt='bicycle crank icon'],
[alt='bicycle frame icon'],
[alt='bicycle crank icon'] {
  padding: 70px 0 32px 0;
}

.work h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.work p {
  padding: 25px 50px 0 50px;
  font-size: 16px;
  color: #848789;
  line-height: 30px;
}

.hline {
  display: block;
  position: relative;
  left: 50%;
  top: 7%;
  transform: translateX(-50%);
  background-color: #848789;
  width: 50px;
  height: 1px;
}

.oliva div:nth-of-type(1) {
  position: relative;
  float: left;
  height: 600px;
  width: 66.6666%;
  background-image: url('../images/bike_01/brooks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.oliva img[alt='bike icon'] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.oliva div:nth-of-type(2) {
  position: relative;
  float: left;
  height: 400px;
  width: 33.3333%;
  text-align: center;
}

.oliva div:nth-of-type(1).triangle {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 10px;
  height: 10px;
  background-image: none;
  background-color: #fff;
  z-index: 5;
}

.oliva div:nth-of-type(3) {
  float: left;
  height: 200px;
  width: 33.3333%;
  background-image: url('../images/bike_01/saddle_bike02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.boriosa div:nth-of-type(1) {
  float: left;
  height: 600px;
  width: 33.3333%;
}

.boriosa div:nth-of-type(1) div:nth-of-type(1) {
  position: relative;
  height: 400px;
  width: 100%;
  text-align: center;
}

.boriosa div:nth-of-type(1) div:nth-of-type(1).triangle {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 10px;
  height: 10px;
  background-image: none;
  background-color: #fff;
  z-index: 5;
}

.boriosa div:nth-of-type(1) div:nth-of-type(2) {
  height: 200px;
  width: 100%;
  background-image: url('../images/bike_02/saddle_bike02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.boriosa div:nth-of-type(2) {
  position: relative;
  float: left;
  height: 600px;
  width: 66.6666%;
  background-image: url('../images/bike_02/vintage_bike.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.boriosa img[alt='vintage icon'] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hulot {
  width: 100%;
  height: 600px;
}

.hulot__bike-frame {
  position: relative;
  float: left;
  width: 33.3333%;
  height: 100%;
  background-image: url('../images/bike_03/bike03_frame.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hulot img[alt='bicycles since 1926 icon'] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hulot div:nth-of-type(2) {
  float: left;
  width: 33.3333%;
  height: 100%;
}

.hulot div:nth-of-type(2) div:nth-of-type(1) {
  position: relative;
  height: 400px;
  width: 100%;
  text-align: center;
}


.hulot div:nth-of-type(2) div:nth-of-type(1).triangle {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 10px;
  height: 10px;
  background-image: none;
  background-color: #fff;
  z-index: 5;
}

.hulot div:nth-of-type(2) div:nth-of-type(2) {
  height: 200px;
  width: 100%;
  background-image: url('../images/bike_03/bike03_wheel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hulot div:nth-of-type(3) {
  float: left;
  width: 33.3333%;
  height: 100%;
  background-image: url('../images/bike_03/bike03.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Twitter */
.twitter {
  width: 100%;
  height: 470px;
  background-color: #f7f7f7;
}

/* Shop */
.shop {
  width: 100%;
  height: 734px;
}

.shop__gallery {
  width: 100%;
  height: 534px;
}

.shop .box01 {
  width: 33.3333%;
  float: left;
}

/* Shop gallery box 01 */
.shop .box01 div:nth-child(1) {
  float: left;
  width: 50%;
  height: 267px;
  background-image: url('../images/shop/box01/brooks-saddle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.shop .box01 div:nth-child(2) {
  float: left;
  width: 50%;
  height: 267px;
  background-image: url('../images/shop/box01/saddles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.shop .box01 div:nth-child(3) {
  float: left;
  width: 100%;
  height: 267px;
  background-image: url('../images/shop/box01/brooks-saddle-big.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Shop gallery box 02 */
.shop .box02 {
  width: 33.3333%;
  height: 100%;
  float: left;
}

.shop .box02 div:nth-child(1) {
  float: left;
  width: 50%;
  height: 100%;
  background-image: url('../images/shop/box02/bike-bag.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.shop .box02 div:nth-child(2) {
  float: left;
  width: 50%;
  height: 100%;
  background-image: url('../images/shop/box02/bike-raleich.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Shop gallery box 03 */

.shop .box03 {
  width: 33.3333%;
  float: left;
  height: 100%;
}

.shop .box03 div:nth-child(1) {
  float: left;
  width: 100%;
  height: 267px;
  background-image: url('../images/shop/box03/shop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.shop .box03 div:nth-child(2) {
  float: left;
  width: 50%;
  height: 267px;
  background-image: url('../images/shop/box03/saddle-world.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.shop .box03 div:nth-child(3) {
  float: left;
  width: 50%;
  height: 267px;
  background-image: url('../images/shop/box03/bag.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Shop button */

.shop__discover {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #282f35;
}

.shop__discover button {
  width: 300px;
  height: 50px;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 14px;
  outline: none;
  border: 1px solid #94979a;
  cursor: pointer;
}

/* Mailing */
.mailing {
  width: 100%;
  height: 469px;
}

.mailing img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 110px 0 40px 0;
}

.mailing h3 {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #848789;
}

.mailing form {
  display: flex;
  justify-content: center;
  padding: 40px 0 110px 0;

}

.mailing input {
  width: 400px;
  height: 70px;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-indent: 20px;
  color: #929292;
  outline: none;
  border: 1px solid #929292;
}

.mailing button {
  background-color: #64c29e;
  border: none;
  outline: none;
  width: 125px;
  height: 70px;
  margin-left: 10px;
  text-align: center;
  font-size: 24px;
  text-transform: capitalize;
  color: #fff;
}

/* Footer */

footer {
  width: 100%;
  height: 200px;
  background-color: #f7f7f7;
}

footer .address,
.socials,
.handcrafted {
  width: 33.3333%;
  height: 100%;
}

footer .address {
  float: left;
}

footer .address div:first-of-type {
  float: right;
  margin-right: 20px;
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

}

footer .address * {
  color: #848789;
}

footer .address div h3:first-of-type {
  font-size: 16px;
}

footer .address div p:first-of-type {
  padding: 8px 0;
}

footer .address *p {
  font-size: 14px;

}

footer .socials {
  position: relative;
  float: left;
}

footer .socials div img:nth-of-type(2) {
  margin: 0 15px;
}


footer .handcrafted {
  float: left;
}

footer .handcrafted p {
  position: relative;
  left: 130px;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  font-size: 14px;
  color: #848789;
}

footer .handcrafted img {
  position: relative;
  top: 50%;
  left: 135px;
  transform: translateY(-50%);
  float: left;
}