* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100vh;
}

/* Header */
header {
  position: relative;
  width: 100%;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 792px;
  height: 77px;
  margin-top: 35px;
}

nav ul.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
}

.nav__item:nth-child(2) {
  padding: 0 35px 0 35px;
}

.nav__item:nth-child(3) {
  padding-right: 65px;
}

.nav__item:nth-child(5) {
  padding-left: 65px;
}

.nav__item:nth-child(6) {
  padding: 0 35px 0 35px;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../images/hero/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/* About Us */
.about {
  width: 100%;
  height: 469px;
  background-color: #f7f7f7
}

.about [alt='chain icon'] {
  position: relative;
  padding-top: 118px;
  left: 50%;
  transform: translateX(-50%);
}

.about h3 {
  text-align: center;
  padding-top: 35px;
  line-height: 34px;
}

.about p {
  text-align: center;
  color: #848789;
  padding: 35px 150px 0;
  line-height: 34px;
}

/* Work */
.work {
  width: 100%;
}

.work [alt='bicycle crank icon'],
[alt='bicycle frame icon'],
[alt='bicycle crank icon'] {
  padding: 70px 0 32px 0;
}

.work h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.work p {
  padding: 25px 50px 0 50px;
  font-size: 16px;
  color: #848789;
  line-height: 30px;
}

.hline {
  display: block;
  position: relative;
  left: 50%;
  top: 7%;
  transform: translateX(-50%);
  background-color: #848789;
  width: 50px;
  height: 1px;
}

.oliva div:nth-of-type(1) {
  float: left;
  height: 600px;
  width: 66.6666%;
  background-image: url('../images/bike_01/brooks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.oliva div:nth-of-type(2) {
  float: left;
  height: 400px;
  width: 33.3333%;
  text-align: center;
}

.oliva div:nth-of-type(3) {
  float: left;
  height: 200px;
  width: 33.3333%;
  background-image: url('../images/bike_01/saddle_bike02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.boriosa div:nth-of-type(1) {
  float: left;
  height: 600px;
  width: 33.3333%;
}

.boriosa div:nth-of-type(1) div:nth-of-type(1) {
  height: 400px;
  width: 100%;
  text-align: center;
}

.boriosa div:nth-of-type(1) div:nth-of-type(2) {
  height: 200px;
  width: 100%;
  background-image: url('../images/bike_02/saddle_bike02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.boriosa div:nth-of-type(2) {
  float: left;
  height: 600px;
  width: 66.6666%;
  background-image: url('../images/bike_02/vintage_bike.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.hulot {
  width: 100%;
  height: 600px;
}

.hulot__bike-frame {
  float: left;
  width: 33.3333%;
  height: 100%;
  background-image: url('../images/bike_03/bike03_frame.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hulot div:nth-of-type(2) {
  float: left;
  width: 33.3333%;
  height: 100%;
}

.hulot div:nth-of-type(2) div:nth-of-type(1) {
  height: 400px;
  width: 100%;
  text-align: center;
}

.hulot div:nth-of-type(2) div:nth-of-type(2) {
  height: 200px;
  width: 100%;
  background-image: url('../images/bike_03/bike03_wheel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hulot div:nth-of-type(3) {
  float: left;
  width: 33.3333%;
  height: 100%;
  background-image: url('../images/bike_03/bike03.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Twitter */
.twitter {
  width: 100%;
  height: 469px;
  background-color: #f7f7f7;
}

/* Shop */
.shop {
  width: 100%;
  height: 734px;
}

.shop__gallery {
  width: 100%;
  height: 534px;
}

.shop .box01 {
  width: 33.3333%;
  float: left;
}

/* Shop gallery box 01 */
.shop .box01 div:nth-child(1) {
  float: left;
  width: 50%;
  height: 267px;
  background-image: url('../images/shop/box01/brooks-saddle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.shop .box01 div:nth-child(2) {
  float: left;
  width: 50%;
  height: 267px;
  background-image: url('../images/shop/box01/saddles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.shop .box01 div:nth-child(3) {
  float: left;
  width: 100%;
  height: 267px;
  background-image: url('../images/shop/box01/brooks-saddle-big.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Shop gallery box 02 */
.shop .box02 {
  width: 33.3333%;
  height: 100%;
  float: left;
}

.shop .box02 div:nth-child(1) {
  float: left;
  width: 50%;
  height: 100%;
  background-image: url('../images/shop/box02/bike-bag.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.shop .box02 div:nth-child(2) {
  float: left;
  width: 50%;
  height: 100%;
  background-image: url('../images/shop/box02/bike-raleich.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Shop gallery box 03 */


.shop .box03 {
  width: 33.3333%;
  float: left;
  height: 100%;
}

.shop .box03 div:nth-child(1) {
  float: left;
  width: 100%;
  height: 267px;
  background-image: url('../images/shop/box03/shop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.shop .box03 div:nth-child(2) {
  float: left;
  width: 50%;
  height: 267px;
  background-image: url('../images/shop/box03/saddle-world.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.shop .box03 div:nth-child(3) {
  float: left;
  width: 50%;
  height: 267px;
  background-image: url('../images/shop/box03/bag.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Shop button */

.shop__discover {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #282f35;
}

.shop__discover button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 50px;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 14px;
  outline: none;
  border: 1px solid #94979a;
  cursor: pointer;
}

/* Mailing */
.mailing {
  width: 100%;
  height: 469px;
}

/* Footer */

footer {
  width: 100%;
  height: 200px;
  background-color: #f7f7f7;
}