* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
}

header {
  position: relative;
  width: 100%;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 792px;
  height: 77px;
  margin-top: 35px;
}

nav ul.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
}

.nav__item:nth-child(2) {
  padding: 0 35px 0 35px;
}

.nav__item:nth-child(3) {
  padding-right: 65px;
}

.nav__item:nth-child(5) {
  padding-left: 65px;
}

.nav__item:nth-child(6) {
  padding: 0 35px 0 35px;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/hero/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}